<div class="game-list">
  <table mat-table [dataSource]="games" class="mat-elevation-z8" *ngIf="games">
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="plataforma">
      <th mat-header-cell *matHeaderCellDef>Plataforma</th>
      <td mat-cell *matCellDef="let element">{{ element.plataforma }}</td>
    </ng-container>
    <ng-container matColumnDef="lanzamiento">
      <th mat-header-cell *matHeaderCellDef>Fecha de Lanzamiento</th>
      <td mat-cell *matCellDef="let element">{{ element.lanzamiento }}</td>
    </ng-container>
    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef>Género</th>
      <td mat-cell *matCellDef="let element">{{ element.genero }}</td>
    </ng-container>
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef>Empresa</th>
      <td mat-cell *matCellDef="let element">{{ element.empresa }}</td>
    </ng-container>
    <ng-container matColumnDef="puntuacionCritica">
      <th mat-header-cell *matHeaderCellDef>Puntuación de la crítica</th>
      <td mat-cell *matCellDef="let element">{{ element.puntuacionCritica }}</td>
    </ng-container>
    <ng-container matColumnDef="puntuacionUsuario">
      <th mat-header-cell *matHeaderCellDef>Puntuación del usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.puntuacionUsuario }}</td>
    </ng-container>
    <ng-container matColumnDef="pegi">
      <th mat-header-cell *matHeaderCellDef>Pegi</th>
      <td mat-cell *matCellDef="let element">{{ element.pegi }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    class="mat-elevation-z8"
    [pageSizeOptions]="[10]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
