.dashboard {
  height: calc(100vh - 64px);
  background-image: url("/assets/fondo-dashboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
